.gallery {
  display: grid;
  grid-template-columns: 100%;
}
@media (min-width: 900px) {
  .gallery {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    margin: auto;
  }
  .galleryImage {
    margin-right: 10px;
  }
}
