.title {
  font-family: 'Merriweather', serif;
  text-shadow: 1rem 1rem 3rem rgba(0,0,0,.175)!important;
  color:#F5EF51;
  font-size: 2rem;
  max-width: 100%;
  margin-left:10px;
  margin-right: 10px;
}

.title > strong {
  text-shadow: 0 1rem 3rem #000;
}

.tagLine {
  font-size: 1.4rem;
  color: #fff;
}

@media (min-width: 500px) {
  .title {
    font-size: 3.6rem;
    margin-left:1em;
    margin-right: 1em;
  }
} 

@media (min-width: 992px) {
  .title {
    font-size:4.2rem;
    margin-left:1em;
    margin-right: 1em;
  }
} 


@media (min-width: 1200px) {
  .title {
    font-size: 5.092rem;
    max-width: 75%;
  }
}