.name {
  font-family: 'Merriweather', serif;
  color: #386982;
  font-size: 2.2rem;
}

.classInductedContainer {
  font-family: 'Merriweather', serif;
  background-color: #59a7cf;
  font-size: 1.543rem;
}

.classInductedContainer p {
  color: white;
}

.profile {
  margin-left: 4em;
  margin-right: 4em;
}
