.name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #386982;
  font-size: 2.2rem;
}

.classInductedContainer {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #59a7cf;
  font-size: 1.543rem;
  color: white;
}

.m6 {
  margin: 4em;
}
