.title strong {
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  color: #386982 !important;
}

.form {
  display: block;
  margin-bottom: 2em;
  margin-top: 2em;
}

.listGroupWidth {
  max-width: 400px;
}
