.printBtn,
.donationBtn {
  width: 75px;
  margin: 0;
  padding: 0;
}

.invite {
  height: 1000px;
  width: 93%;
}

.advertisement {
  height: 886px;
  width: 75%;
}

@media (min-width: 500px) {
  .donationBtn {
    width: 350px;
  }
}
