.myMasonryGrid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.myMasonryGridColumn,
.myMasonryGridColumn > div {
  margin: 0;
  padding: 0;
}
