.imgGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
}

.imgLink {
  margin: 0;
  padding: 0;
}

.imgLink p {
  color: #fff;
}

.figCaption {
  width: 152.5px;
  padding: 0;
  display: block;
  position: relative;
  overflow: hidden; /* hide overflowing elements by default */
}

figure.figCaption figcaption {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background: white;
  z-index: 100;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  top: 55%;
  left: 0;
  -moz-transform: translate3d(
    -100%,
    -50%,
    0
  );
  -webkit-transform: translate3d(-100%, -50%, 0);
  transform: translate3d(-100%, -50%, 0);
  opacity: 0;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container {
  overflow:hidden;
  max-height: 915px;
  overflow-y: auto;
  margin-bottom: 3em;
}
@media (min-width: 300px) {
  .imgGrid {
    grid-template-columns: repeat(2, 0fr);
  }
}
@media (min-width: 750px) {
  .imgGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Bigger than Phones(laptop / desktop) */
@media (min-width: 970px) {
  .imgGrid {
    grid-template-columns: repeat(8, 0fr);
  }
}
