.navBlue {
  font-weight: bold;
  color: #539dc2 !important;
}

.navBlue > a {
  color: #539dc2 !important;
}

.activeLink {
  color: #386982 !important;
  border-bottom: 3px solid#386982;
}


.header {
  margin: 0;
  padding: 0;
  text-align: center;
  width:100;
  white-space: wrap;
}

.h1 {
  color: #386982;
  font-size: 1.1rem;
  font-family: 'Open Sans Bold', 'Arial', sans-serif;
}

.h2 {
  color: #59a7cf;
  font-size: 1rem;
  font-family: 'Merriweather', serif;
}



@media (min-width: 1200px) {
  .h1 {
    font-size: 1.8rem;
  }
  
  .h2 {
    font-size: 1.7rem;
  }
}