@font-face {
  font-family: 'Open Sans Regular';
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url('/fonts/OpenSans-Italic.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Merriweather Regular';
  src: url('/fonts/Merriweather-Regular.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Merriweather Bold';
  src: url('/fonts/Merriweather-Bold.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Merriweather Italic';
  src: url('/fonts/Merriweather-Italic.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Lucida Calligra Italic';
  src: url('/fonts/Lucida-Calligra-Italic.ttf') format('truetype');
  font-display: block;
}

body {
  font-family: 'Open Sans Regular', 'Arial', sans-serif;
  padding: 0;
  margin: 0;
  background: #386982;
}

p {
  font-size: 1.18rem;
  color: #000;
  font-weight: 500;
}

strong {
  font-weight: 900;
  color: #000;
}

.content {
  border-top: 2px solid #444;
}

.content-no-border,
.content {
  background-color: #e9e9e9;
  color: #444;
}

.slick-next {
  right: 16px;
}

.slick-prev {
  left: 0px;
}

.slick-next:before,
.slick-prev:before {
  font-size: 25px;
  opacity: 1;
  color: #000;
}

.btn-custom-primary {
  color: #fff;
  background-color: #59a7cf;
  border-color: #59a7cf;
}

.btn-outline-custom-primary {
  color: #386982;
  border-color: #59a7cf;
}

.btn-outline-custom-primary:hover,.btn-outline-custom-primary:focus,.btn-outline-custom-primary:active {
  color: #fff;
  background-color: #59a7cf;
  border-color: #59a7cf;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1300px;
  }
}
