.subMenuTitle > strong {
  color: #386982 !important;
  font-size: 1.37rem;
}

.membersTitle {
  text-align: center;
}
.membersTitle > strong {
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  color: #386982 !important;
}

.subMenuBtn:hover,
.activeBtn:hover {
  cursor: pointer;
  color: #59a7cf;
  border: 0;
}

.subMenuBtn:active,
.activeBtn:active,
.subMenuBtn:focus,
.activeBtn:focus {
  border: 0;
  outline: 0;
}

.activeBtn,
.subMenuBtn {
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 0;
  margin-right: 0;
}

.activeBtn {
  color: #59a7cf;
}

.subMenuBtn {
  color: #386982;
}

.GalleryNav {
  width: 100%;
}
